// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$dark-green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$verde-escuro: #668B46;
$verde-claro: #7ACF21;
$branco: #769353;
$branco-creme: #F4FFD4;
