
<div class="home-banner">
  <h1>AgorCash</h1>

</div>

<div class="mt-5 pt-5">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
</div>
