<h1>Proposta de empréstimo</h1>
<% @loan_proposal.amount %>
<%= @loan_proposal.conditions %>
<%= @loan_proposal.description %>
<%= @loan_proposal.accepted %>
<%= link_to 'Voltar para Home', user_profile_path %>
